.container-outstanding__1{
    width: 23%;
    min-width: 290px;
    display: flex;
    background-color: beige;
    align-items: center;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    flex-direction: column;
    border: 2px solid wheat;  
}
.container-outstanding__1 img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.container-outstanding__1 p{
    text-align: justify;
}
