.content{
    min-height: 100%;
}
.container-outstanding{
    margin: 5px;
    padding: 10px;
    display: flex;    
    justify-content: center;
    text-align: center; 
    flex-wrap: wrap;  
}
.title-outstanding{
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 10px;
}