@import "./Media.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    display: flex;
    flex-flow: column;
    font-family: 'Chilanka', cursive, sans-serif;
    background-color: #0093E9;    
    
}

#app{
    min-height: 81vh;
}