@media only screen and (min-width: 700px) {
    .logo {
        flex: 1;
        margin: auto 0;
    }
    .menu li.button a {
        padding: 8px;
        margin: 5px;
    }
    .menu {
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;
    }
    .item {
        position: relative;
        display: block; 
        width: auto;
    }
    .toggle {
        display: none;
    }
    .button a {
        background: #0080ff;
    }

    .button a:hover {
        background: royalblue;
        border-color: darkblue;
    }
}